.cover {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: absolute;
  top: 20%;
  width: 66%;
  height: 25%;
  //background: pink;
  font-size: 27px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: lighter;
  z-index: 1;

}

.art {
  height: 80%;
  bottom: -10%;
  right: 0;
  position: absolute;

}

.footer {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  width: 50%;
  text-align: left;
  line-height: 1.5em;
  font-size: 16px;
}

.date {
  width: 50%;
  text-align: left;
  line-height: 1.5em;
  font-size: 16px;
}
