@import "/src/media-query-mixins";
@import "/src/colors";

.paragraph {
  height: 57%;
  top: 26.4%;

  @include media('>phone') {
    font-size: 28px;
    line-height: 37px;
  }

  @include media('>tablet') {
    top: 35%;
    left: 35%;
    width: 55%;
    font-size: 28px;
    line-height: 37px;
  }

  @include media('>desktop') {
    font-size: 34px;
    line-height: 43px;
  }
}
