@import "/src/media-query-mixins";
@import "/src/colors";

.paragraph {
  //height: 57%;
  //top: 26.4%;

  @include media('>phone') {

  }

  @include media('>tablet') {
    //top: 35%;
    width: calc(50% - 6vw);
  }

  @include media('>desktop') {

  }
}

.art {
  position: absolute;
  bottom: 0;
  right: 2vw;
  width: 50%;
  transform: translateY(25%);
}
