@import "/src/media-query-mixins";
@import "/src/colors";

.paragraph {
  @include media('>tablet') {
    width: calc(50% - 6vw);
  }

  @include media('>desktop') {

  }
}

.art {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;

  @include media('>phone') {
    width: 60%;

    @include orientation('landscape') {
      width: 50%;
    }
  }
}
