@import "/src/media-query-mixins";

.container {

}

.img {
  width: 100%;
  position: relative;

  .inner {
    width: 100%;
  }

  @include media('>tablet') {
    @include orientation(landscape) {
      width: 32vw;
      height: 35vh;
      float: left;

      .inner {
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  @include media('>desktop') {
    width: 26vw;
    height: 30vh;
  }

  iframe {
    transition: 1s ease-out;
  }
}

.title {
  font-size: 12px;
  text-transform: capitalize;
  line-height: 12px;
  margin-top: 10px;

  @include media('>desktop') {
    font-size: 12px;
    line-height: 12px;
  }
}

.txt {
  font-size: 16px;
  line-height: 35px;
  margin: 25px 0 0 0;

  @include media('>tablet') {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
  }

  @include media('>desktop') {
    font-size: 22px;
    line-height: 37px;
  }
}

.btn {
  text-decoration: none;
  color: white;
  padding: 17px 29px 12px;
  border-radius: 30px;
  font-size: 11px;
  line-height: 11px;
  margin: 34px 0 50px;
  display: inline-block;
  flex-shrink: 0;

  @include media('>tablet') {
    margin: 0;
  }
}

.rightCol {
  @include media('>tablet') {
    width: 35vw;
    float: right;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    p {
      margin: 0;
    }
  }

  @include media('>desktop') {
    width: 26vw;
    height: 30vh;
  }
}

.indicator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
