.container {

}

.img {
  width: 100%;
}

.title {
  font-size: 10px;
  text-transform: capitalize;
  line-height: 10px;
}

.txt {
  font-size: 16px;
  line-height: 35px;
}

.btn {
  text-decoration: none;
  color: white;
  padding: 17px 29px 12px;
  border-radius: 30px;
  font-size: 11px;
  line-height: 11px;
}
