@import "/src/media-query-mixins";
@import "../../styles";

$peek-mobile: 54px;

.clinical {
  z-index: 1;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 62%;
  bottom: 10%;

  @include media('>phone') {
    height: 64%;
    bottom: 15%;
    width: calc(100vw - #{$gutter-tablet});
  }

  @include media('>tablet') {
    height: 54%;
    bottom: 24%;
    width: calc(100vw - #{$gutter-desktop});
  }

  @include media('>desktop') {
    width: calc(100vw - #{$gutter-wide-screen});
  }

  .carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    align-items: center;

    @include media('>tablet') {
      padding-bottom: 10px;
      height: 74%;
      flex-grow: 0;
    }
    //left: #{-$peek-mobile};

    //& > div {
    //  transform: translateX(-$peek-mobile);
    //}
  }

  .outerWrapper {
    //padding-right: 5vw;
    box-sizing: border-box;
    flex-shrink: 0;
    //padding: 0 2%;
    width: 100%;
    height: 34%;

    @include media('>phone') {
      height: 75%;
      width: 35vw;
      padding-right: 3vw;
    }

    @include media('>tablet') {
      width: 25vw;
      padding-right: 2.5vw;
      height: 100%;
    }

    @include media('>desktop') {
      width: 17.5vw;
    }
  }

  .innerWrapper {
    background: #F9F9F9;
    border-radius: 10px;
    padding: 4vh 17px;
    font-size: 16px;
    height: 100%;
    //width: 65vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .date {
    color: #8F8F8F;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .header {
    height: 70%;
    font-weight: 100;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    @include media('>phone') {
      -webkit-line-clamp: 7;
    }

    @include media('>tablet') {
      -webkit-line-clamp: 6;
    }

  }

  .source {
    line-height: 23px;
    font-weight: 100;
    height: 20%;
    //height: #{23 * 3}px;
  }

  .disable {
    //pointer-events: none;
  }

  .arrow {
    color: #0272BA;
    position: absolute;
    right: 30px;
    bottom: -44px;
    margin-top: 20px;
    margin-right: 25px;
    border-radius: 10px;
    width: 25px;

    //@include media('>tablet') {
    //  display: none;
    //}
  }

  .menuTrigger {
    margin: 5px 0 2px 0;
    flex-shrink: 0;
    align-self: start;
  }
}

.readMoreBtn {
  padding: 10px 4px 20px;
  line-height: unset;
  min-height: 0;
  height: 0;
  border-bottom: 1px solid;
  text-transform: capitalize;
  font-weight: 400;
  width: 43px;
}
