@import "/src/media-query-mixins";
@import "../../styles";

$peek-mobile: 54px;

.clinical {
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 62%;
  bottom: 10%;

  @include media('>phone') {
    height: 64%;
    bottom: 15%;
  }

  .outerWrapper {
    width: 100%;
    height: 100%;
  }

  .innerWrapper {
    background: #F9F9F9;
    border-radius: 10px;
    padding: 4vh 17px;
    font-size: 16px;
    height: 100%;
    //width: 65vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    letter-spacing: unset;
  }

  .date {
    color: #8F8F8F;
    height: 10%;
  }

  .header {
    height: 70%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    @include media('>phone') {
      -webkit-line-clamp: 7;
    }

    @include media('>tablet') {
      -webkit-line-clamp: 6;
    }

  }

  .source {
    height: 20%;
    verflow: hidden;
  }

  .menuTrigger {
    margin: 5px 0 30px 0;
    flex-shrink: 0;
    align-self: start;
  }
}

.clinicalCarousel {
  width: calc(100% + 80px);

  @include media('>phone') {
    height: 65%;
    transform: translateY(-15%);
    width: calc(100% + 24vw);

    :global {
      .prev {
        transform: translateY(-15px);
      }
    }

    @include media('>phone') {
      transform: translateY(-10%);
      width: calc(100% + 17vw);
    }
  }
}
