.bgWrap {
  position: absolute;
}

.coverPic {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%
}

.gradientOverLay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(#808080, 0.03) 0%, rgba(#ffffff, 0.85) 50%, rgba(#ffffff, 1) 100%);
}

.grayBg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #F3F3F3;
}
