@font-face {
  font-family: 'calibre';
  src: url('./calibre/Calibre-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'calibre';
  src: url('./calibre/Calibre-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'calibre';
  src: url('./calibre/Calibre-Thin.ttf') format('truetype');
  font-weight: 100;
}
