@font-face {
  font-family: 'sansation';
  src: url('./sansation/Sansation_Light.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'sansation';
  src: url('./sansation/Sansation_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'sansation';
  src: url('./sansation/Sansation_Bold.ttf') format('truetype');
  font-weight: bold;
}
