@import '/src/shared/styles';

.shelf {
  @include media('>phone') {
    width: 60%;
    left: 20%;
    position: relative;
    margin-top: 30px;

    @include orientation('landscape') {
      width: 50%;
      left: 0;
      padding-left: 5%;
      box-sizing: border-box;
      margin-top: 0;
    }
  }
  h2 {
    font-size: 20px;
    line-height: 20px;
    color: #8F8F8F;
    font-weight: 200;
    margin: 0 0 16px;
  }

  section:first-of-type {
    margin-bottom: 40px;
  }
}

.productBtn {
  text-decoration: none;
  width: 90%;
  left: 5%;
  flex-shrink: 0;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include media('>tablet') {
    margin-bottom: 0;
  }
}

.btnGroup {
  @include media('>phone') {
    @include orientation('landscape') {
      display: flex;
      justify-content: space-around;

      .productBtn {
        width: 47%;
        //padding: 10px 0 2px;
        left: 0;
        //height: 37px;
      }
    }
  }
}
