@import "/src/media-query-mixins";
@import "../../styles";

$peek-mobile: 54px;

.clinical {
  z-index: 1;
  width: calc(100vw - #{$gutter-phone});
  position: fixed;
  margin: 0 0 0 #{$gutter-phone};
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 62%;
  bottom: 10%;

  @include media('>phone') {
    height: 64%;
    margin: 0 0 0 #{$gutter-tablet};
    bottom: 15%;
  }

  @include media('>tablet') {
    height: 54%;
    margin: 0 0 0 #{$gutter-desktop};
    bottom: 24%;
  }

  @include media('>desktop') {
    margin: 0 0 0 #{$gutter-wide-screen};
  }

  .carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    align-items: center;

    @include media('>tablet') {
      overflow: auto;
      padding-bottom: 10px;
      height: 74%;
      flex-grow: 0;
    }
    //left: #{-$peek-mobile};

    //& > div {
    //  transform: translateX(-$peek-mobile);
    //}
  }

  .outerWrapper {
    //padding-right: 5vw;
    box-sizing: border-box;
    padding-right: 4vw;
    flex-shrink: 0;
    //padding: 0 2%;
    width: 63vw;
    height: 100%;

    @include media('>phone') {
      height: 75%;
      width: 35vw;
      padding-right: 3vw;
    }

    @include media('>tablet') {
      width: 25vw;
      padding-right: 2.5vw;
      height: 100%;
    }

    @include media('>desktop') {
      width: 17.5vw;
    }
  }

  .innerWrapper {
    background: #F9F9F9;
    border-radius: 10px;
    padding: 4vh 17px;
    font-size: 16px;
    height: 100%;
    //width: 65vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .date {
    color: #8F8F8F;
    height: 10%;
    line-height: 16px;
    font-weight: 400;
  }

  .header {
    color: #0272BA;
    height: 70%;
    line-height: 37px;
    font-weight: 100;
    //height: #{37 * 5}px;
  }

  .source {
    line-height: 23px;
    font-weight: 100;
    height: 20%;
    //height: #{23 * 3}px;
  }

  .disable {
    //pointer-events: none;
  }

  .arrow {
    color: #0272BA;
    position: absolute;
    right: 30px;
    bottom: -44px;
    margin-top: 20px;
    margin-right: 25px;
    border-radius: 10px;
    width: 25px;

    //@include media('>tablet') {
    //  display: none;
    //}
  }

  .menuTrigger {
    margin: 5px 0 30px 0;
    flex-shrink: 0;
    align-self: start;
  }
}
