@import "/src/media-query-mixins";

$nav-bar-height: 80px;
$gutter-phone: 17vw;
$gutter-tablet: 20vw;
$gutter-desktop: 13vw;
$gutter-wide-screen: 20vw;

.inner {
  width: 66vw;
  height: 75%;
  transform: translateY(27%);
  position: relative;

  :global {
    @include media('>phone') {
      width: calc(100% - #{$gutter-tablet} - #{$gutter-tablet});
      height: calc(77% - 5px);
      transform: translateY(15%);
    }

    @include media('>tablet') {
      width: calc(100% - #{$gutter-desktop} - #{$gutter-desktop});
      height: calc(77% - 65px);
      transform: translateY(23%);
    }

    @include media('>desktop') {
      width: calc(100% - #{$gutter-wide-screen} - #{$gutter-wide-screen});
      transform: translateY(25%);
    }
  }
}
