@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }

  100% {
    opacity: 1;
    transform: scale(1)  translateY(0px);
  }
}

@keyframes dimm {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
    transform: scale(0.95);
  }
}

@keyframes undimm {
  0% {
    opacity: 0.5;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

$popIn: popIn .4s forwards;
$dimm: dimm .2s forwards;
$undimm: undimm .2s forwards;
$fadeIn: fadeIn .2s forwards;
$slideInUp: slideInUp .2s forwards;
