@import "/src/media-query-mixins";

$nav-bar-height: 80px;
$gutter-phone: 17vw;
$gutter-tablet: 20vw;
$gutter-desktop: 13vw;
$gutter-wide-screen: 20vw;

.inner {
  width: 66vw;
  box-sizing: border-box;
  height: 61%;
  bottom: 10%;
  position: fixed;
  left: $gutter-phone;
  color:  #707070;
  line-height: 1.5em;

  :global {
    @include media('>phone') {
      width: calc(100vw - #{2 * $gutter-tablet});
      height: 67%;
      left: $gutter-tablet;
      //transform: translateY(15%);
      @include orientation(landscape) {
        width: 60vw;
        left: calc((100vw - 60vw)/2);
        //transform: translateY(23%);
      }
    }

    @include media('>tablet') {
      @include orientation(landscape) {
        width: 74vw;
        left: calc((100vw - 74vw)/2);
        //transform: translateY(23%);
      }
    }

    @include media('>desktop') {
      width: 60vw;
      left: calc((100vw - 60vw)/2);
      //transform: translateY(25%);
    }
  }
}
