@import './dimentions';
@import './media-query-mixins';

.inner {
  width: calc(100vw - #{2 * $gutter-phone});
  box-sizing: border-box;
  height: 61%;
  bottom: 10%;
  position: fixed;
  left: $gutter-phone;
  color:  #707070;
  line-height: 1.5em;
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;

  :global {
    @include media('>phone') {
      width: calc(100vw - #{2 * $gutter-tablet});
      left: $gutter-tablet;
      height: 67%;
      @include orientation(landscape) {
        //width: 60vw;
        //left: calc((100vw - 60vw)/2);
      }
    }

    @include media('>tablet') {
      width: calc(100vw - #{2 * $gutter-desktop});
      left: $gutter-desktop;

      //@include orientation(landscape) {
      //  width: 74vw;
      //  left: calc((100vw - 74vw)/2);
      //
      //}
    }

    @include media('>desktop') {
      width: calc(100vw - #{2 * $gutter-wide-screen});
      left: $gutter-wide-screen;
    }
  }
}
