.trigger {
  text-transform: uppercase;
  padding-right: 40px;
  border-radius: 30px;
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .arrow {
    height: 33px;
    margin-left: 10px;
    margin-right: -8px;
    transition: .2s ease-out;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);

    &.flip {
      transform: scaleY(-1);
      bottom: -1px;
    }
  }
}

.menu {
  display: none;
}

.defaultDecorator {

}
