.trigger {
  text-transform: uppercase;
  padding: 5px 20px;
  border-radius: 30px;
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  p {
    margin: 0;
    height: 11px;
    font-size: 14px;
    font-weight: normal;
  }

  .arrow {
    height: 33px;
    position: relative;
    bottom: 1px;
    margin-left: 10px;
    margin-right: -8px;
    transition: .2s ease-out;

    &.flip {
      transform: scaleY(-1);
      bottom: -1px;
    }
  }
}

.menu {
  display: none;
}

.defaultDecorator {

}
