@import "/src/media-query-mixins";

.container {

}

.logo {
  position: fixed;
  width: 52px;
  left: 17%;
  top: 7%;
  z-index: 1;

  @include media('>phone') {
    left: 10%;
  }

  @include media('>tablet') {
    left: 5%;
  }

  @include media('>desktop') {
    left: 8%;
  }
}

.menuToggle {
  position: fixed;
  right: 17%;
  transform: translate(10px, 4px);
  top: 7%;
  z-index: 1;
  width: 35px;
  height: 35px;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;

  @include media('>phone') {
    right: 10%;
  }

  @include media('>tablet') {
    right: 5%;
  }

  @include media('>desktop') {
    right: 8%;
  }

  .handle {
    width: 35px;
    height: 2px;
    background: #0272BA;
    display: inline-block;
    transform-origin: 7.5px;
    margin: 6px;
    position: relative;
  }
}
