@import "/src/media-query-mixins";

.container {

}

.logo {
  position: fixed;
  width: 52px;
  left: 17%;
  top: 7%;

  @include media('>phone') {
    left: 10%;
  }

  @include media('>tablet') {
    left: 5%;
  }

  @include media('>desktop') {
    left: 8%;
  }
}
