@import "/src/media-query-mixins";

.container {

}

.logo {
  position: fixed;
  width: 52px;
  left: 17%;
  top: 10%;
  z-index: 1;
  transform: translate(-50%, -50%);

  @include media('>phone') {
    left: 10%;
  }

  @include media('>tablet') {
    left: 5%;
  }

  @include media('>desktop') {
    left: 8%;
  }
}

.menuToggle {
  position: fixed;
  right: 17%;
  transform: translate(50%, -50%);
  top: 10%;
  z-index: 1;
  width: 35px;
  height: 35px;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;

  @include media('>phone') {
    right: 10%;
  }

  @include media('>tablet') {
    right: 5%;
  }

  @include media('>desktop') {
    right: 8%;
  }

  .handle {
    width: 35px;
    height: 2px;
    background: #0272BA;
    display: inline-block;
    transform-origin: 7.5px;
    margin: 6px;
    position: relative;
  }
}

.menuContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #005728;
  color: white;
  font-size: 28px;
  z-index: 1;
  text-transform: uppercase;

  .listScrollContainer {
    left: calc(17% - 12px);
    right: 17%;
    top: calc(7% + 65px);
    width: 66%;
    height: 540px;
  }

  .list {
    left: calc(17% - 12px);
    right: 17%;
    top: calc(7% + 65px);
    width: 66%;
    height: 540px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 100;
    overflow: auto;

    li {
      font-size: 28px;
      display: flex;
      flex-direction: column;
      padding: 15px 25px 7px;
      border-radius: 27px;
      cursor: pointer;
      flex-shrink: 0;

      &.noClick {
        cursor: default;
        pointer-events: none;
      }

      li {
        color: #00DBE3;
        pointer-events: all;
      }
    }

    ul {
      overflow: hidden;

      label {
        font-size: 19px;
        line-height: 19px;
        text-transform: capitalize;
        color: #8CC740;
        padding: 15px 25px 7px;
        display: inline-block;
      }
    }
  }
}
