@import "/src/media-query-mixins";
@import "/src/dimentions";
@import "/src/colors";

.cover {
  z-index: 1;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    position: absolute;
    top: 25%;
    left: $gutter-phone;
    width: 66%;
    font-size: 50px;
    line-height: 53px;
    font-weight: 200;
    text-transform: uppercase;
    z-index: 1;
    color: $green;

    @include media('>phone') {
      font-size: 91px;
      line-height: 90px;
      font-weight: 100;
      left: $gutter-tablet;
      width: 60%;
    }

    @include media('>tablet') {
      font-size: 110px;
      line-height: 100px;
      left: 35vw;
      width: 55%;
    }

    @include media('>desktop') {
      font-size: 135px;
      line-height: 125px;
    }
  }

  .coverPic {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%
  }
}
