@import "/src/media-query-mixins";
@import "/src/utils";

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //@include media('>phone') {
  //  @include orientation(landscape) {
  //    flex-direction: row;
  //  }
  //}

  @include media('>tablet') {
    flex-direction: row;
  }
}

.container {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media('>tablet') {
    width: 35vw;
    height: 70%;

    &:first-of-type {
      margin-right: 5vw;
    }

    &:last-of-type {
      margin-left: 5vw;
    }
  }
}
.image {
  width: 100%;
  height: 88%;
  object-fit: cover;
  @include gradient-vertical(#f0f1f5, #ffffff);
}

.footNotes {
  margin: 56px 0 0 0;
  padding: 17px 0 0 0;
  width: 100%;
  counter-reset: item;
  border-top: 1px solid #5E5E5E;
  font-size: 12px;
  line-height: 20px;

  @include media('>phone') {
    position: absolute;
    bottom: 0
  }

  li {
    display: block;

    &:before {
      content: "(" counter(item) ") ";
      counter-increment: item;
      width: 1.4em;
      display: inline-block;
    }
  }
}

.spacer {
  width: 10vw;
  flex-shrink: 0;
}
