@import "/src/media-query-mixins";
@import "/src/utils";

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;

  @include media('>tablet') {
    flex-direction: row;
  }

  @include media('>phone') {
    @include orientation('landscape') {
      flex-direction: row;
    }
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caption {
  margin-top: 30px;
  display: block;
}

.carousel {
  height: 100%;

  :global {
    .carousel-item {
      box-sizing: border-box;

      @include media('>phone') {
        &:nth-child(odd) {
          padding-right: 20px;
        }

        &:nth-child(even) {
          padding-left: 20px;
        }
      }
    }
  }
}

.itemWrapper {
  box-sizing: border-box;
}
