@import "/src/media-query-mixins";
@import "/src/colors";

.paragraph {
  color: $black;
  font-size: 16px;
  line-height: 35px;
  height: 65%;
  top: 27%;

  @include media('>phone') {
    //top: 30%;
    font-size: 22px;
    line-height: 36px;
    height: 60%;
  }

  @include media('>tablet') {
    top: 30%;
    height: 65%;
  }

  @include media('>desktop') {
    top: 35%;
    font-size: 34px;
    line-height: 43px;
  }
}

.pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  @include media('>phone') {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    //height: 60%;
    transform: translateY(10%);

    @include orientation(landscape) {
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
    }
  }

  @include media('>tablet') {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
  }
}

.pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 136px;

  @include media('>phone') {
    width: 28%;
    margin: 0 11%;

    @include orientation(landscape) {
      width: 20%;
      margin: 0;
      flex-shrink: 0;
    }
  }

  @include media('>tablet') {
    width: 12%;
    margin: 3%;
    flex-shrink: 0;
  }

  .picImg {
    width: 100%;
  }

  label {
    text-align: center;
    height: 45px;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    line-height: 37px;

    @include media('>phone') {
      font-size: 18px;
      line-height: 27px;
    }

    @include media('>tablet') {
      font-size: 18px;
      line-height: 37px;
      margin-top: 26px;
      margin-bottom: 0;
    }

    @include media('>desktop') {
      font-size: 22px;
    }
  }
}
