//@import 'my-transition';

.snapScroll {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 1200px;
    -webkit-overflow-scrolling: auto;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    scroll-behavior: auto;
    //opacity: 0;
    transition: .3s ease-out;
    will-change: opacity;
}

.show {
    //opacity: 1;
}

.inner {
    width: inherit;
    height: inherit;
}

.scrollableArea {
    overflow: auto;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
}

.hasOverflow {
    padding-right: 8px;
    width: calc(100% - 8px);
}

.frameIndicator {
    position: absolute;
    top: 50%;
}
