@import "/src/media-query-mixins";
@import "/src/colors";

.paragraph {
  color: $black;
  font-size: 16px;
  line-height: 35px;
  height: 65%;
  top: 27%;

  @include media('>phone') {
    top: 30%;
    font-size: 22px;
    line-height: 37px;
    height: 60%;
  }

  @include media('>tablet') {
    top: 30%;
    height: 65%;
  }

  @include media('>desktop') {
    top: 35%;
    font-size: 34px;
    line-height: 43px;
  }
}

.btn {
  background: $green;
  text-decoration: none;
  padding: 17px 29px 12px;
  border-radius: 30px;
  font-size: 11px;
  line-height: 11px;
  margin: 34px 0 50px;
  display: inline-block;
  flex-shrink: 0;
}

.art {
  height: 35%;
  bottom: 0;
  right: 10vw;
  position: absolute;

  @include media('>phone') {
    height: 40%;
  }

  @include media('>tablet') {
    height: 50%;
    right: 5vw;
  }

  @include media('>desktop') {
    height: 55%;
  }

}
