@import "/src/media-query-mixins";
@import "/src/colors";

.ourProducts {
  color: $black;
  font-size: 16px;
  line-height: 35px;
  height: 65%;
  top: 27% !important;

  @include media('>phone') {
    top: 30%;
    font-size: 22px;
    line-height: 37px;
    height: 60%;

    @include orientation('landscape') {
      display: flex;
    }
  }

  @include media('>tablet') {
    top: 30%;
    height: 65%;
  }

  @include media('>desktop') {
    top: 35%;
    font-size: 34px;
    line-height: 43px;
  }
}

.text {
  @include media('>phone') {
    @include orientation('landscape') {
      width: 50%;
      padding-right: 5%;
    }
  }
}

.btn {
  background: $green;
  text-decoration: none;
  padding: 17px 29px 12px;
  border-radius: 30px;
  font-size: 11px;
  line-height: 11px;
  margin: 34px 0 0;
  display: inline-block;
  flex-shrink: 0;
}

.art {
  position: absolute;
  bottom: 0;
  width: 100%;
}
