a.button {
  text-decoration: none;
  color: inherit;
}

.color {
  color: white;
}

a.button.color {
  color: white;
}

.button {
  cursor: pointer;
  transition: .2s ease-out;

  &.disable {
    cursor: none;
    opacity: 0.2;
    pointer-events: none;
  }
}
