@import "/src/media-query-mixins";

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.btn {
  height: 80px;
  width: 40px;
  flex-shrink: 0;
  z-index: 1;

  svg {
    width: 90px;
  }
}

.right {
  svg {
    transform: translate(-28px, -4px);
  }
}

.left {
  svg {
    transform: translate(-23px, -4px);
  }
}

.itemGroup {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: space-around;

  & > div {
    height: 100%;
  }
}

.content {
  width: calc(100% - 80px);
  height: 100%;
  overflow: hidden;
  position: relative;
}

